* {
  font-family: Montserrat, Noto Sans TC;
}

h1 {
  font-size: 68px;
  font-weight: bold;
}

h2 {
  font-size: 42px;
  font-weight: bold;
}

h3 {
  font-size: 28px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

h5 {
  font-size: 18px;
  font-weight: 500;
}

/* 表格樣式*/

.form-wrapper {
  background-color: #F5F8FA;
  color: #696974
}

label {
  padding-left: 16px;
}

::placeholder {
  color: #B5B5BE;
  font-size: 18px;
}

.form {
  border-bottom: 2px solid #657786;
  background-color: #f5f8fa;
  width: 100%;
  height: 100%;
  padding-left: 16px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.form:focus,
.form:hover {
  border: 0px;
  background-color: #f5f8fa;
  -webkit-appearance: none;
  outline: none;
  border-bottom: 2px solid #50B5FF
}

.error-message {
  font-size: 14px;
  color: #FC5A5A;
  height: 24px
}

.error-notice {
  font-size: 15px;
  color: #FC5A5A;
}

/* 按鈕樣式 */

.btn-singin {
  background-color: #FF6600;
  height: 46px;
  width: 400px;
  border-radius: 50px;
}

